@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald:wght@200..700&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --cor: rgb(255, 255, 255);
    --cor1: #F2F2F2;
    --cor2: rgba(218, 195, 241, 0.753);
    --cor3: rgba(130, 45, 221, 0.658);
    --cor4: rgba(103, 35, 175, 0.712);
    --cor5: rgba(97, 31, 167, 0.678);
    --cor6: black;
    --cor7: rgb(68, 23, 116);
    --cor8: rgb(165, 160, 160);
    --cor9: rgb(52, 17, 90);
    --cor10: rgba(68, 23, 116, 0.575);
    --cor11: rgba(255, 194, 26, 0.986);
    --cortranp: rgba(82, 81, 81, 0.377);
    --font1: "Bebas Neue", sans-serif;
    --font2: "Titillium Web", sans-serif;
    --font3: "Oswald", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor7);
    padding: 10px;
    z-index: 1000;
}

nav {
    background-image: linear-gradient(to top, var(--cor9), var(--cor7));
    text-align: center;
    font-size: 15px;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #555;
    padding: 10px;
    z-index: 1000;
    justify-content: center;
    display: flex;
    font-family: var(--font3);
}

.container2, .container3, .container4 {
    display: flex;
    flex-wrap: wrap;
    margin-top:0px;
    padding: 30px;
    gap: 20px;
    position: relative;
    padding-left: 200px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 30px;
    gap: 20px;
    position: relative;
    padding-left: 200px;
}

.container {
    background-image: linear-gradient(to right, var(--cor1), var(--cor0));
    border: 2px solid rgba(0, 0, 0, 0.938);
}

.container2 {
    background-image: linear-gradient(to right, var(--cor2), var(--cor1));
    border: 2px solid rgba(0, 0, 0, 0.582);
}

.container3 {
    background-image: linear-gradient(to right, var(--cor1), var(--cor0));
    border: 2px solid rgba(0, 0, 0, 0.514);
}

.container4 {
    background-image: linear-gradient(to right, var(--cor2), var(--cor1));
    border: 2px solid rgba(0, 0, 0, 0.562);
    padding-bottom: 80px;
}

.externa {
    flex: 1 1 23%; /* Permite que cada link ocupe até 23% do container */
    max-width: 150px;
    border: 0px solid rgba(169, 11, 231, 0);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
    position: relative;
}

.interna {
    width: 100%;
    background-image: linear-gradient(to right, rgb(88, 87, 87), rgb(172, 170, 170));
    height: 150px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 0px 9px rgba(0, 0, 0, 0.26);
}

img {
    max-width: 100%;
    min-height: auto;
    height: auto;
    width: auto;
    object-fit: cover;
    border-radius: 30px;
    pointer-events: none;
}

.texto {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    text-align: auto;
    padding: 4px;
    color: var(--cor6);
    font-size: 18px;
    font-family: var(--font2);
    background-color: var(--cor11);
    pointer-events: none;
    border-radius: 0px 20px 20px 20px;
    max-width: 200px;
    height: auto;
    margin: 0px;
    width: 150px;
}

.erp {
    background-color: rgb(196, 80, 3);
    margin: 0 50px 0 0;
    color: var(--cor1);
    border-radius: 0 0 20px 0;
}

.zap {
    background-color: rgb(9, 168, 9);
    color: var(--cor1);
    border-radius: 0 0 0 20px;
    margin: 0 2px 0 50px;
}

.boot {
    background-color: rgb(14, 93, 212);
    color: var(--cor1);
    border-radius: 0;
    margin: 0 2px 0 0;
}

.erp, .zap, .boot {
    font-weight: bold;
    padding: 7px;
    font-family: var(--font2);
    font-style: bold;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.822);
    width: 200px;
}
a{
    text-decoration: none;
}

h1 {
    background-color: var(--cor7);
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--cor1);
    font-family: var(--font3);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.699);
}

h2 {
    margin: 0;
    padding: 10px;
    color: var(--cor1);
    font-family: var(--font3);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.747);
    font-size: 1.5em;
    width: auto;
    background-image: linear-gradient(to right, rgb(71, 10, 133), rgb(98, 26, 170));
    text-align: left;
    border-radius: 0px 0px 15px 0px;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor7);
    padding: 5px;
    z-index: 1000;
    text-align: center;
    color: var(--cor);
    font-family: var(--font2);
}
nav > a > .zap:hover{
    background-color: rgb(18, 216, 18);
    text-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.377);
    color: var(--cor9);
    transform: scale(105%); 
    transform: scale(102%); /* Aumenta um pouco o tamanho da imagem */
}
nav > a > .erp:hover{
    background-color: rgb(245, 105, 11);
    text-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.39);
    color: var(--cor9); 
    transform: scale(102%); /* Aumenta um pouco o tamanho da imagem */
}
nav > a > .boot:hover{
    background-color: rgb(30, 113, 238);
    text-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.308);
    color: var(--cor9);
    transform: scale(102%); /* Aumenta um pouco o tamanho da imagem */ 
}
.externa:hover .interna  img{
    filter: opacity(85%); /* Define a transparência da imagem */
    transform: scale(102%); /* Aumenta um pouco o tamanho da imagem */

}
