@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald:wght@200..700&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
:root{
    --cor:rgb(255, 255, 255);
    --cor1: #F2F2F2;
    --cor2: rgba(218, 195, 241, 0.753);
    --cor3: rgba(130, 45, 221, 0.658);
    --cor4: rgba(103, 35, 175, 0.712);
    --cor5:rgba(97, 31, 167, 0.678) ;
    --cor6: black;
    --cor7:rgb(68, 23, 116);
    --cor8:rgb(165, 160, 160);
    --cor9:rgb(52, 17, 90);
    --cor10:rgba(68, 23, 116, 0.575);
    --cor11:rgba(255, 194, 26, 0.986);
    --cortranp:rgba(82, 81, 81, 0.377);
    --font1:"Bebas Neue", sans-serif;
    --font2:"Titillium Web", sans-serif;
    --font3:"Oswald", sans-serif;;
}
@media screen and (max-width: 500px) {
    header {
        padding: 5px; /* Reduz o preenchimento do cabeçalho */
    }
    nav {
        top: 70px; /* Ajusta a posição da navegação */
    }
    .container, .container2, .container3, .container4 {
        flex-direction: column; /* Altera a direção do flexbox para coluna */
        align-items: center; /* Centraliza os itens */
    }
    .externa {
        width: 90%; /* Define a largura do item externo */
    }
    .interna {
        width: 100%; /* Define a largura da parte interna */
    }
    h2 {
        width: 100%; /* Define a largura total para os títulos */
        text-align: center; /* Centraliza os títulos */
    }
}

/* Estilos para telas com largura de até 1024px */
@media screen and (max-width: 1024px) {
    header {
        padding: 8px; /* Ajusta o preenchimento do cabeçalho */
    }
}

/* Estilos para telas maiores que 1024px */
@media screen and (min-width: 1025px) {
    .container, .container2, .container3, .container4 {
        justify-content: space-around; /* Espaço igual entre os itens */
    }
}

body{
    margin: 0px;
    padding: 0px;


}
header{
    position: fixed;
    position: fixed; /* Fixa o header no topo da tela */
    top: 0; /* Define a posição superior do header */
    left: 0; /* Define a posição esquerda do header */
    width: 100%; /* Define a largura total do header */
    background-color: var(--cor7); /* Cor de fundo do header */
    padding: 10px; /* Adiciona um preenchimento interno de 10px */
    z-index: 1000; /* Define a ordem de empilh*/
}
nav{
    background-image: linear-gradient(to top , var(--cor9), var(--cor7));;
    text-align: center;
    font-size:15px;
    position: fixed; /* Fixa a navegação no topo da tela */
    top: 50px; /* Define a posição superior da navegação (abaixo do header) */
    left: 0; /* Define a posição esquerda da navegação */
    width: 100%; /* Define a largura total da navegação */
    background-color: #555; /* Cor de fundo da navegação */
    padding: 10px; /* Adiciona um preenchimento interno de 10px */
    z-index: 1000; /* Define a ordem de empilhamento da navegação */
    justify-content: center;
    display: flex;
    font-family: var(--font3);
    
}
.container{
    display:flex;
    background-image: linear-gradient(to right , var(--cor1), var(--cor0));
    flex-wrap: wrap;
    margin-top: 100px;
    border: 2px solid rgba(0, 0, 0, 0.938);
    padding: 0px 30px 0px 0px;
}
.container2{
    display:flex;
    background-image: linear-gradient(to right , var(--cor2), var(--cor1));
    border: 2px solid rgba(0, 0, 0, 0.582);
    padding: 0px 30px 0px 0px;
}
.container3{
    display:flex;
    background-image: linear-gradient(to right , var(--cor1), var(--cor0));
    border: 2px solid rgba(0, 0, 0, 0.514);
    padding: 0px 30px 0px 0px;
}
.container4{
    display:flex;
    background-image: linear-gradient(to right , var(--cor2), var(--cor1));
    border: 2px solid rgba(0, 0, 0, 0.562);
    padding: 0px 30px 80px 0px;
}
.externa{
    /*background-color: var(--cor2);*/
    flex: 1;
    border: 0px solid rgba(169, 11, 231, 0);
    height: 200px;
    margin: 20px; 
    display: flex;  
    justify-content: center;
    align-items: flex-start; 
    border-radius: 30px;
    /*padding: 0px 0px 30px 0px;*/
    position: relative;
}

.interna{
    background-color: rgba(95, 94, 94, 0.801);
    /*border: 0px solid var(--cor4);*/
    width: 200px;
    height:200px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 0px 9px rgba(0, 0, 0, 0.26);
}
img{
    max-width:100%;
    min-height:auto;
    height: auto;
    width: auto;
    object-fit: cover;
    border-radius:30px;
    pointer-events: none;
    
    
}
.texto{
    position: absolute;
    bottom: 0;
    margin-top: auto;
    text-align: auto;
    padding: 3px ;
    color: var(--cor6);
    font-size:20px;
    font-family: var(--font2);
    background-color:var(--cor11);
    pointer-events: none;
    border-radius: 0px 20px 20px 20px;
    width:180px; 
    height: 25px; 
    
   
}

.erp{
    background-color: rgb(196, 80, 3);
    margin:0px 50px 0px 0px ;
    color: var(--cor1);
    border-radius:0px 0px 20px 0px;
}
.zap{
    background-color: rgb(9, 168, 9);
    color: var(--cor1);
    border-radius:0px 0px 0px 20px;
    margin:0px 5px 0px 50px ;
    

}
.erp , .zap {
    font-weight: bold;
    padding: 7px ;
    font-family: var(--font2);
    font-style:bold;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.822);
    width: 200px;
    
}

h1{
    background-color: var(--cor7);
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: var(--cor1);
    font-family: var(--font3);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.699);
    
}
h2{
    margin:auto;
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px;
    color: var(--cor9); 
    font-family: var(--font3);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.747);
    font-size: 2em;
    width: 300px;
    background-image: linear-gradient(to right, rgb(209, 173, 245),var(--cor1));
    text-align: center;
    border-radius: 0px 20px 20px 0px;

}

img :hover{
    border-radius: 40px;
}

.container, .externa:hover{
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.664);
    
}

a{
    text-decoration: none;
}

footer{
    background-color:rgba(68, 23, 116, 0.336); /* Cor de fundo do footer com 70% de opacidade */
    color: rgba(255, 255, 255, 0.6); /* Cor do texto do footer com 60% de opacidade */
    text-align: center; /* Centraliza o conteúdo do footer */
    padding: 0; /* Remove todo o espaçamento interno */
    position: fixed; /* Fixa o footer no rodapé da página */
    bottom: 0; /* Define a posição inferior do footer */
    width: 100%; /* Define a largura total do footer */
    font-family: var(--font1); /* Define a fonte especificada */
}
nav > a > .zap:hover{
    background-color: rgb(8, 126, 8);
    text-shadow: 0px 0px 0px 7px black;
    color: var(--cor9); 
}
nav > a > .erp:hover{
    background-color: rgb(165, 68, 4);
    text-shadow: 0px 0px 0px 7px black;
    color: var(--cor9); 
}